In [ ]:
print("hello python")

hello python

In [ ]:
name = "Amanda Quarshie"

In [ ]:
Age = 26

In [ ]:
print (f"Hello my name is {name} and I am {Age} years old")

Hello my name is Amanda Quarshie and I am 26 years old

In [ ]:
my_name = "Hello my name is Amanda Quarshie and I am 26 years old"
print(my_name.upper())

HELLO MY NAME IS AMANDA QUARSHIE AND I AM 26 YEARS OLD

In [ ]:
my_name = "Hello my name is Amanda Quarshie and I am 26 years old"
print(my_name.lower())

hello my name is amanda quarshie and i am 26 years old

In [ ]:
hobby = " I love reading"
my_name = "Hello my name is Amanda Quarshie and I am 26 years old"
new_name = my_name.replace("I am 26 years old", hobby)
print(new_name)

Hello my name is Amanda Quarshie and  I love reading

In [ ]:
asphalt_unit_cost = 0
aspahlt_quatity = 0
concrete_unit_cost = 0
concrete_quantity = 0
labour_unit_cost = 0
labour_quantity = 0
labour_hours = 0

In [ ]:
asphalt_unit_cost = int(input("what is the unit cost of asphalt? "))
aspahlt_quatity = int(input("what is the quantity of asphalt? "))
concrete_unit_cost = int(input("what is the unit cost of concrete? "))
concrete_quantity = int(input("what is the quantity of concrete? "))
labour_unit_cost = int(input("what is the unit cost of labour? "))
labour_hours = int(input("what is the quantity of labour hours? "))

what is the unit cost of asphalt? 20
what is the quantity of asphalt? 50
what is the unit cost of concrete? 35
what is the quantity of concrete? 45
what is the unit cost of labour? 100
what is the quantity of labour hours? 40

In [ ]:
TCA = (asphalt_unit_cost * aspahlt_quatity)
print(TCA)

1000

In [ ]:
TCC = (concrete_unit_cost * concrete_quantity)
print(TCC)

1575

In [ ]:
TLC = (labour_unit_cost * labour_hours)
print(TLC)

4000

In [ ]:
Overall_cost = (TCA + TCC + TLC)
print(Overall_cost)

6575

In [ ]:
budget = 50000

In [ ]:
if Overall_cost < budget:
    print("under budget")
elif Overall_cost > budget:
    print("over budget")

under budget

In [ ]:
import pandas as pd
df = pd.read_csv ('example.csv')
print(df.head())

    Name  Age         City  Gender
0   John   26     New York    Male
1   Jane   31  Los Angeles  Female
2  Alice   22      Chicago  Female
3    Bob   45      Houston    Male
4  Carol   37      Phoenix  Female

In [ ]:
print(df.describe())

             Age
count  55.000000
mean   31.127273
std     6.675146
min    21.000000
25%    26.000000
50%    29.000000
75%    35.500000
max    46.000000

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
df1 = pd.read_csv('235-Nov.csv')
print(df1.head())

  owner-id network-id      date   time  utc-offset  start-ime  end-time  \
0   Q-Free     Q-Free  20211110  80900           0      80800     80900
1   Q-Free     Q-Free  20211110  80900           0      80800     80900
2   Q-Free     Q-Free  20211110  80900           0      80800     80900
3   Q-Free     Q-Free  20211110  80900           0      80800     80900
4   Q-Free     Q-Free  20211110  80900           0      80800     80900

     detector-id status  lane-id  ...  small-class-count  medium-class-count  \
0   DMDS20-WB EN     OK        1  ...                  0                   0
1   DMDS20-WB RL     OK        4  ...                  0                   1
2  DMDS20-WB RCL     OK        3  ...                  0                   0
3  DMDS20-WB LCL     OK        2  ...                  0                   0
4   DMDS20-WB LL     OK        1  ...                  0                   0

   large-class-count                device-id  link-direction  detector-type  \
0                  0  OpenTMS-Detector46573-0               w        unknown
1                  0  OpenTMS-Detector46573-1               w        unknown
2                  0  OpenTMS-Detector46573-2               w        unknown
3                  0  OpenTMS-Detector46573-3               w        unknown
4                  0  OpenTMS-Detector46573-4               w        unknown

  sample-period device-description month  day
0            60            ON_RAMP    11   10
1            60             NORMAL    11   10
2            60             NORMAL    11   10
3            60             NORMAL    11   10
4            60             NORMAL    11   10

[5 rows x 23 columns]

In [ ]:
print(df1.describe())

               date           time  utc-offset      start-ime       end-time  \
count  1.287800e+05  128780.000000    128780.0  128780.000000  128780.000000
mean   2.021111e+07  117912.004193         0.0  117932.395558  117912.004193
std    3.440028e+00   69021.866649         0.0   69021.150108   69021.866649
min    2.021110e+07       0.000000         0.0       0.000000       0.000000
25%    2.021110e+07   60100.000000         0.0   60100.000000   60100.000000
50%    2.021111e+07  120000.000000         0.0  120000.000000  120000.000000
75%    2.021111e+07  175700.000000         0.0  175800.000000  175700.000000
max    2.021111e+07  235900.000000         0.0  235900.000000  235900.000000

             lane-id     lane-count  lane-occupancy     lane-speed  \
count  128780.000000  128780.000000   128780.000000  128780.000000
mean        2.200000       9.634074        3.797197      61.164964
std         1.166195       8.714397        4.332574       6.787330
min         1.000000       0.000000        0.000000       0.000000
25%         1.000000       2.000000        0.000000      58.000000
50%         2.000000       7.000000        3.000000      61.000000
75%         3.000000      16.000000        6.000000      64.000000
max         4.000000      51.000000       99.000000     143.000000

       small-class-count  medium-class-count  large-class-count  \
count      128780.000000       128780.000000      128780.000000
mean            0.203960            7.616548           1.581472
std             0.648766            6.935575           2.237594
min             0.000000            0.000000           0.000000
25%             0.000000            2.000000           0.000000
50%             0.000000            6.000000           1.000000
75%             0.000000           13.000000           2.000000
max            17.000000           37.000000          23.000000

       sample-period     month            day
count       128780.0  128780.0  128780.000000
mean            60.0      11.0       6.665942
std              0.0       0.0       3.396851
min             60.0      11.0       2.000000
25%             60.0      11.0       2.000000
50%             60.0      11.0       8.000000
75%             60.0      11.0      10.000000
max             60.0      11.0      10.000000

In [ ]:
# Load the CSV file into a pandas DataFrame
df2 = pd.read_csv('235-Nov.csv')

# Convert the 'time' column to hours
df2 = pd.to_datetime(df['time'], format='HHMMSS').dt.hour

# Print the updated DataFrame
print(df2)

ValueError: time data "80900" doesn't match format "HHMMSS", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.